@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-color: #cccccc;
    --swiper-pagination-color: #3b5e83;
}

a {
    width: fit-content;
    height: fit-content;
}

/* text selection */
::-moz-selection {
    color: #ffffff;
    background: #3b5e83;
}

::selection {
    color: #ffffff;
    background: #3b5e83;
}

/* input[type='number'] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

/* tailwind button */
.transition-transform-colors {
    transition-duration: 100ms;
}

/* swiper */
.swiper {
    padding-bottom: 2rem !important;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
    width: 44px !important;
    border-radius: 0.25rem !important;
    background: #0000005c !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: #000000cc !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.75rem !important;
}

@media all and (min-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: flex !important;
    }
}
